__pycache__/index.cpython-310.pyc
backups/Relics 2.zip
saves/Main Save/save.save
saves/Relics/option.sav
saves/Relics/save.save
saves/Relics/0/caption.jpg
saves/Relics/0/caption.sav
saves/Relics/0/game_data.sav
saves/Relics/1/caption.jpg
saves/Relics/1/caption.sav
saves/Relics/1/game_data.sav
saves/Relics/2/caption.jpg
saves/Relics/2/caption.sav
saves/Relics/2/game_data.sav
saves/Relics/3/caption.jpg
saves/Relics/3/caption.sav
saves/Relics/3/game_data.sav
saves/Relics/4/caption.jpg
saves/Relics/4/caption.sav
saves/Relics/4/game_data.sav
saves/Relics/5/caption.jpg
saves/Relics/5/caption.sav
saves/Relics/5/game_data.sav
saves/Relics/album/pict_000.jpg
saves/Relics/album/pict_001.jpg
saves/Relics/pict_book/Enemy_Lynel_Junior.jpg
saves/Relics/tracker/trackblock00.sav
config.save
install.py
