__pycache__/index.cpython-310.pyc
backups/Relics 2.zip
saves/Main Save/save.save
saves/Relics/option.sav
saves/Relics/save.save
saves/Relics/0/caption.jpg
saves/Relics/0/caption.sav
saves/Relics/0/game_data.sav
saves/Relics/1/caption.jpg
saves/Relics/1/caption.sav
saves/Relics/1/game_data.sav
saves/Relics/2/caption.jpg
saves/Relics/2/caption.sav
saves/Relics/2/game_data.sav
saves/Relics/3/caption.jpg
saves/Relics/3/caption.sav
saves/Relics/3/game_data.sav
saves/Relics/4/caption.jpg
saves/Relics/4/caption.sav
saves/Relics/4/game_data.sav
saves/Relics/5/caption.jpg
saves/Relics/5/caption.sav
saves/Relics/5/game_data.sav
saves/Relics/album/pict_000.jpg
saves/Relics/album/pict_001.jpg
saves/Relics/pict_book/Enemy_Lynel_Junior.jpg
saves/Relics/tracker/trackblock00.sav
config.save
install.py
saves/Main Save/option.sav
saves/Main Save/0/caption.jpg
saves/Main Save/0/caption.sav
saves/Main Save/0/game_data.sav
saves/Main Save/1/caption.jpg
saves/Main Save/1/caption.sav
saves/Main Save/1/game_data.sav
saves/Main Save/2/caption.jpg
saves/Main Save/2/caption.sav
saves/Main Save/2/game_data.sav
saves/Main Save/3/caption.jpg
saves/Main Save/3/caption.sav
saves/Main Save/3/game_data.sav
saves/Main Save/4/caption.jpg
saves/Main Save/4/caption.sav
saves/Main Save/4/game_data.sav
saves/Main Save/5/caption.jpg
saves/Main Save/5/caption.sav
saves/Main Save/5/game_data.sav
saves/Main Save/album/pict_000.jpg
saves/Main Save/album/pict_001.jpg
saves/Main Save/album/pict_002.jpg
saves/Main Save/album/pict_003.jpg
saves/Main Save/album/pict_004.jpg
saves/Main Save/album/pict_005.jpg
saves/Main Save/album/pict_006.jpg
saves/Main Save/album/pict_007.jpg
saves/Main Save/album/pict_008.jpg
saves/Main Save/album/pict_009.jpg
saves/Main Save/album/pict_010.jpg
saves/Main Save/album/pict_011.jpg
saves/Main Save/album/pict_012.jpg
saves/Main Save/album/pict_013.jpg
saves/Main Save/album/pict_014.jpg
saves/Main Save/album/pict_015.jpg
saves/Main Save/album/pict_016.jpg
saves/Main Save/album/pict_017.jpg
